@charset "utf-8";

/*
font-size決め方
https://qiita.com/AsagiriDesign/items/af182de0e1c6245d102d
https://www.plusdesign.co.jp/blog/?p=5152
基本は、bodyに対し、font-size:62.5%で指定。すると以下、1rem=10px 1.6rem=16pxのように計算がしやすくなる
*/
body {
    font-size: 62.5%;
    word-wrap: break-word;
}
h1 {
    margin: 0;
}
/**************************************************
header
**************************************************/
#title-header {
    display: flex;
    padding: 24px;
}
.site-title {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    color: #161410;
}
.tel {
    font-size: 1.6rem;
    color: #161410;
    margin-left: auto;
}
.g-nav-area {
    background: #161410;
    width: 100%;
}
.title-menu {
    display: flex;
}
.g-nav-wrap {
    margin: auto;
}
.g-nav {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
.g-nav-menu {
    display: table-cell;
    transition: 1.0s;
}
.g-nav-menu:hover {
    background: #cacaca;
}
.g-nav a {
    color: #fff;
    display: block;
    margin: .8em 0;
    padding: 8px;
}
.g-nav a:hover {
    color: #161410;
}
.top-eyecatch-img {
    margin: 0;
}
.top-eyecatch-image {
    width: 100%;
}
/* メディアクエリでheightを調整する（参考：http://www-creators.com/archives/1601）
.top-eyecatch-image {
    width: 100%;
} */
/**************************************************
main
**************************************************/

/**************************************************
sidebar
**************************************************/

/**************************************************
footer
**************************************************/
.site-footer {
    /* グラデーションカラー設定 */
    background: #232323;
    padding: 8px;
}
.g-nav-footer-area {
    width: 100%;
}
.copyright {
    text-align: center;
}
.copyright p {
    color: #fff;
    margin: 8px 0;
}
.copyright a {
    color: #fff;
}
/**************************************************
index.php
**************************************************/

/**************************************************
single.php
**************************************************/

/**************************************************
archive.php
**************************************************/
