@charset "utf-8";

/*
font-size決め方
https://qiita.com/AsagiriDesign/items/af182de0e1c6245d102d
https://www.plusdesign.co.jp/blog/?p=5152
基本は、bodyに対し、font-size:62.5%で指定。すると以下、1rem=10px 1.6rem=16pxのように計算がしやすくなる
*/
body {
    font-size: 62.5%;
}
h1 {
    margin: 0;
}

/**************************************************
header
**************************************************/
.title-header {
    padding: 24px;
}
.site-title {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    color: #161410;
}
.g-nav-area {
    background: #161410;
    width: 100%;
}
.title-menu {
    display: flex;
}
.g-nav-wrap {
    margin: auto;
}
.g-nav {
    display: flex;
    list-style: none;
    padding: 0;
}
.g-nav-menu {
    padding: 8px;
}
.g-nav a {
    color: #fff;
}
/**************************************************
main
**************************************************/

/**************************************************
sidebar
**************************************************/

/**************************************************
footer
**************************************************/
.site-footer {
    /* グラデーションカラー設定 */
    background: #232323;
    padding: 8px;
}
.copyright {
    text-align: center;
}
.copyright p {
    color: #fff;
    margin: 8px 0;
}
.copyright a {
    color: #fff;
}
/**************************************************
index.php
**************************************************/

/**************************************************
single.php
**************************************************/

/**************************************************
archive.php
**************************************************/
